<!-- template/base.html -->

<header>
    <a href="{% url 'home' %}">Home Page</a> | <a href="{% url 'about' %}">About Page</a> | <a href="{% url 'contact' %}">Contact us</a>
    
    <!-- <a> tag is for creating Hyperlinks in HTML -->
    <!-- "Home Page" will be the Text of the hyperlinks-->
    <!-- {% url 'home' %} Django Tag will provide the loaction of the Hyperlink -->
</header>

<!-- Block content Tags can be overwritten by child templates via inheritance -->
<!-- It's optional to -->
{% block content %}
{% endblock content %}